node_modules/
public/styles/**/*.css
public/scripts/**/*.js
psdTemplate
psdTemplate.zip
assets/Art/
assets/Portrait/
assets/Pet/
assets/Adventure/
assets/Landscape/
assets/Wildlife/
apolo-template.zip
apolo/