node_modules/
public/styles/**/*.css
public/scripts/**/*.js
psdTemplate
psdTemplate.zip
assets/art/
assets/portrait/
assets/pet/
assets/adventure/
assets/landscape/
assets/wildlife/
apolo-template.zip
apolo/
assets/collabs